<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
	<title></title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
	<div id="container">
		<form id="registerform" th:action="@{/registration}" th:object="${user}" method="POST">
			<h1>Sign up</h1>
			<input type="text" th:field="*{fname}" placeholder="First name">
			<label	th:if="${#fields.hasErrors('fname')}" th:errors="*{fname}"></label>
			<input type="text" th:field="*{lname}" placeholder="Last name">
			<label	th:if="${#fields.hasErrors('lname')}" th:errors="*{lname}"></label>
			<input type="email" th:field="*{email}" placeholder="Email">
			<label	th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
			<input type="password" th:field="*{password}" placeholder="Password">
			<label	th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
			<input type="password" placeholder="Confirm password">
			<button>Just let me in!</button>
		</form>
	</div>
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
</body>
</html>